/*  */
/* General */

* {
  color: white;
  background-color: rgb(15, 24, 16);
  font-family: "Trade Winds";
  margin-left: 10px;
  margin-right: 10px;
}

a {
  margin-left: 0px;
}

.link {
  width: 20%;
}

h1 {
  font-weight: 900;
}

/*  */
/* NAV */

.topnav {
  margin-left: 0px;
  background-color: rgb(15, 24, 16);
  overflow: hidden;
  border: solid;
  border-color: rgb(42, 102, 57);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 10px;
}

.topnav a:hover {
  background-color: rgb(61, 168, 57);
  color: white;
  margin-left: 10px;
}

.topnav a.active {
  text-decoration: underline;
  color: white;
  margin-left: 10px;
}

.link {
  margin: 10px;
  background-color: white;
}

/*  */
/* Portfolio */

.screenshot {
  width: 80%;
  margin: 10px;
  margin-bottom: 0px;
}

.portfolioPiece {
  border: solid;
  border-color: rgb(42, 102, 57);
  margin-bottom: 20px;
}

.button {
  background-color: wheat;
  color: black;
}

/*  */
/* Links */
.myAccounts {
  border: solid;
  border-color: rgb(42, 102, 57);
  margin: 10px;
}
