/*  */
/* General */

* {
  color: white;
  background-color: rgb(15, 24, 16);
  font-family: "Trade Winds";
  margin-left: 5px;
  margin-right: 5px;
}

a {
  margin-left: 0px;
}

.link {
  width: 200px;
}

h1 {
  font-weight: 900;
}
.header {
  border: 10px;
}

button {
  margin-bottom: 10px;
}

/*  */
/* NAV */

.topnav {
  background-color: rgb(15, 24, 16);
  overflow: hidden;
  border: solid;
  border-color: rgb(42, 102, 57);
}

.topnav a {
  float: left;
  height: 30px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.topnav a:hover {
  background-color: rgb(61, 168, 57);
  color: white;
  margin-left: 10px;
}

.topnav a.active {
  text-decoration: underline;
  color: white;
  margin-left: 10px;
  font-size: 22px;
}

.link-link {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
  height: 80px;
  display: block;
  margin-left: 20px;
}

/*  */
/* Portfolio */

.screenshot {
  width: 95%;
  /* margin: 10px;
  margin-bottom: 0px; */
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-width: thin;
  border-color: rgb(42, 102, 57);
}

.portfolioPiece {
  border: solid;
  border-color: rgb(42, 102, 57);
  margin-bottom: 20px;
}

.button {
  background-color: wheat;
  color: black;
}

.portfolioHeader {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.portfolioShowButton {
  margin-top: 10px;
}

.portfolioIconHolder {
  /* height: 30px;
  margin-top: 10px; */
}

.portfolioIcon {
  height: 40px;
}

/*  */
/* Links */
.myAccounts {
  border: solid;
  border-color: rgb(42, 102, 57);
  margin-top: 20px;
}

/*  */
/* Homepage */

.personalInfo {
  border: solid;
  border-color: rgb(42, 102, 57);
  /* text-align: center; */
}

.homepageExplain {
  margin: 20px;
}

.homepageInfo {
  border: solid;
  border-color: rgb(42, 102, 57);
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left;
}

.homepageImg {
  height: 200px;
  display: block;
  margin-left: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*  */
/* Header */

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.constactLink {
  height: 25px;
  margin-right: 0px;
}

.headerLink {
  width: fit-content;
  margin-left: auto;
}

.siteHeader {
  margin-left: 20px;
  margin-right: 20px;
}

/*  */
/* Mobile view */

@media (max-width: 600px) {
  .homepageInfo {
    flex-direction: column;
    text-align: left;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
  }

  .topnav {
    display: flex;
    flex-direction: column;
  }

  .homepageImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .link-link {
    background-color: white;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 0px;
  }
}
